/* Plotly hammer to make sure that the modebar appears as a single line */
@use "./navbar.scss";

.modebar {
    background: none !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    padding: 0 !important;
    top: 36px !important;
}

.modebar-group {
    display: flex !important;
    flex-direction: row !important;
    margin: 0 !important;
    padding: 0 !important;
}

.modebar-btn {
    background: none !important;
    margin: 0 2px !important;
}

/* Web Components */
plotly-chart {
    @apply col-span-8 p-4 bg-white border border-gray-200 rounded-lg shadow-sm;
    min-height: 350px;
    
    .spinner{
        &-container{
            @apply h-full flex justify-center items-center;
        }
    
        &-svg{
            @apply w-8 h-8 text-gray-200 animate-spin fill-blue-600;
        }
    }
    
    .alert{
        &-error{
            @apply flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50;
            &-svg {
                @apply shrink-0 inline w-4 h-4 me-3;
            }
        }

        &-info{
            @apply flex items-center p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50;
        }
    }
    .chart{
        &-header{
            @apply flex justify-between mb-2;
        }
        &-title{
            @apply text-xl font-semibold tracking-tight flex-1;
        }

        &-filter{
            @apply border rounded-md text-sm;
        }

        &-quarter-nav-btn {
            @apply disabled:text-gray-100 text-gray-500 text-xl;
        }

        &-zoom-overlay {
            @apply hidden fixed inset-0 bg-black/60 justify-center items-center;
            z-index: 50;
        }
        
        &-zoom-content {
            @apply bg-white p-4 rounded-lg w-[90vw] h-[90vh] overflow-auto relative;
        }
        
        &-zoom-close {
            @apply absolute top-4 right-4 bg-transparent border-none cursor-pointer text-2xl;
            z-index: 60;

        }
    }
}

h2 {
    @apply text-4xl font-semibold my-8;

    &.first{
        margin-top: 0;
    }
}

.floating-toc{
    @apply text-blue-700 z-50 fixed p-4;
    left: 0;
    top: 0;

    &-button{
        @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
    }
    &-menu{
        @apply  bg-white border border-gray-200 rounded-lg shadow-lg w-64 p-4;
    }

    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    a {
        @apply block py-1;
        color: #007bff;

        &.active{
            @apply font-bold;
        }
    }
    
    
}

.empty-message{
    &-container{
        @apply col-span-8 p-6 flex flex-col items-center justify-center text-center;

        svg{
            @apply h-12 mb-3 text-gray-400;
        }

        h5{
            @apply mb-1 text-xl font-semibold text-gray-700;
        }

        p{
            @apply mb-4 text-sm text-gray-500;
        }

        a{
            @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2;
        }
    }
}

.dropdown {
    &-items-list {
        @apply z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-xl border border-gray-200;
        max-height: 300px;
        overflow: scroll;

        a{
            @apply block px-4;
        }
    }
    
    &-list-item{
        @apply py-2 text-sm text-gray-700;
    }
    
    &-container {
        @apply flex flex-col font-medium rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:border-0 md:bg-white lg:hidden;
    }
}
