/* Charts */
.modebar {
    background: none !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    padding: 0 !important;
    top: 36px !important;
}

.modebar-group {
    display: flex !important;
    flex-direction: row !important;
    margin: 0 !important;
    padding: 0 !important;
}

.modebar-btn {
    background: none !important;
    margin: 0 2px !important;
}



/* Web Components */
plotly-chart {
    @apply col-span-8 lg:col-span-4 p-6 bg-white border border-gray-200 rounded-lg shadow-sm;
    min-height: 350px;
}