{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Dashboard
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <script defer src="{% static 'js/flowbite.min.js' %}"></script>

    {% block extra_head %}

    {% endblock %}
  </head>

  <body>
    {% if request.path != '/login/' and request.path != '/register/' %}
      {% include 'pages/navigation.html' %}
    {% endif %}

    <main class="container base-container {% block main_classes %}

      {% endblock %}">
      {% block content %}

      {% endblock %}
    </main>

    {% include 'pages/footer.html' %}
  </body>
</html>
