{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>

    {% block extra_head %}{% endblock %}
</head>

<body class="container mx-auto px-8">
    {% include 'pages/navigation.html' %}

    <main class="py-8">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'pages/footer.html' %}
</body>

</html>