{% extends 'pages/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Home - Dashboard{% endblock %}

{% block extra_head %}
<script src='https://unpkg.com/plotly.js-dist-min@3.0.1/plotly.min.js'></script>

<link rel="stylesheet" href="{% static 'css/page_home.css' %}">
<script type="module" src="{% static 'js/chart_webcomponent.js' %}"></script>
{% endblock %}

{% block content %}

{% include 'sections/empty-message.html' %}
  
{% for section_name, charts in sections.items %}
<div id="section-{{section_name|slugify}}">
    <h2 class="{% if forloop.first %}first{% endif %}">
        {{ section_name }}
    </h2>
    <div class="grid grid-cols-8 gap-4">
        {% for chart in charts %}
            <plotly-chart chart_slug="{{ chart.slug }}" q="{{ chart.quarter_number }}"></plotly-chart>
        {% endfor %}
    </div>
</div>
{% endfor %}


<script>
    const app_context = {
        quarter_uuid: "{{app_context.quuid }}",
        quarter_number: parseInt("{{ app_context.qn }}"),
    }

</script>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      const tocLinks = document.querySelectorAll("#floating-toc a");
      const sections = Array.from(tocLinks).map(link =>
        document.querySelector(link.getAttribute("href"))
      );
    
      const observerOptions = {
        root: null,
        rootMargin: "10px",
        threshold: 0.1
      };
    
      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
        console.log("start")
          const id = entry.target.id;
          const link = document.querySelector(`#floating-toc a[href="#${id}"]`);
          if (entry.isIntersecting) {
            tocLinks.forEach(l => l.classList.remove("active"));
            console.log("setting up active")
            if (link) link.classList.add("active");
          }
        });
      }, observerOptions);
    
      sections.forEach(section => {
        if (section) observer.observe(section);
      });
    });
    </script>

{% endblock %}