{% extends 'pages/base.html' %}
{% load static %}
{% load custom_tags %}
{% load widget_tweaks %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/page_login.css' %}" />
{% endblock %}

{% block main_classes %}
  flex justify-center
{% endblock %}

{% block content %}
  <div class="login_register-form">
    <h2 class="">Login</h2>
    <h3 class="text-gray-400">Use your credentials to <strong>login</strong> on the app.</h3>

    <div class="demo_account" role="alert">
      <span class="font-bold">Demo account:</span> demo / demo2025
    </div>

    {% if form.errors %}
      <div class="login_register-form-error">Invalid credentials. Use the ones you created for the app.</div>
    {% endif %}

    <form method="post" class="space-y-5">
      {% csrf_token %}

      <div>
        <label for="id_username" class="login_register-form-label">Username</label>
        {{ form.username|add_class:'login_register-form-input' }}
      </div>

      <div>
        <label for="id_password" class="login_register-form-label">Password</label>
        {{ form.password|add_class:'login_register-form-input' }}
      </div>

      <button type="submit" class="login_register-form-submit">Login</button>
    </form>

    <p class="login_register-helper-text">
      Don't have an account? <a href="{% url 'register' %}">Click here create one</a>.
    </p>
  </div>
{% endblock %}
