
<nav class="navbar sticky top-0 z-40">
  <div class="container navbar-container mx-auto">
    <a href="/" class="navbar-logo">
      <span class="navbar-logo-text">Dashboards</span>
    </a>
    <button class="navbar-toggle" data-collapse-toggle="navbar-default" type="button" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
      </svg>
    </button>
    
    <div class="hidden navbar-menu" id="navbar-default">
      <ul class="navbar-menu-list">
        {% include 'sections/floating-toc.html' %}
        <li>
          <a href="/" class="{% if request.path == '/' %} navbar-link navbar-link-active {% else %} navbar-link {% endif %}" {% if request.path == '/' %} aria-current="page" {% endif %}>
            Home
          </a>
        </li>
        <li>
          <a href="/quarters" class="{% if request.path == '/quarters/' %} navbar-link navbar-link-active {% else %} navbar-link {% endif %}" {% if request.path == '/quarters/' %} aria-current="page" {% endif %}>
            Upload Files
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
