{% load custom_tags %}

{% if request.path == '/' %}
  {% if sections %}
    <ul class="dropdown-container">
      <li>
        <button id="dropdownNavbarLink" data-dropdown-toggle="floating-toc" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:w-auto">
          Sections<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="floating-toc" class="hidden dropdown-items-list">
          <ul class="dropdown-list-item" aria-labelledby="dropdownLargeButton">
            {% for section_name, charts in sections.items %}
              <li>
                <a href="#section-{{ section_name|slug }}" class="dropdown-list-item">{{ section_name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  {% endif %}
{% endif %}
