{% load custom_tags %}

{% if request.path == '/' %}
  {% if section_titles %}
    <ul class="dropdown-container">
      <li>
        <button id="dropdownNavbarLink" data-dropdown-toggle="floating-toc" class="navbar-link-section">
          Sections<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="floating-toc" class="hidden dropdown-items-list">
          <ul class="dropdown-list-item" aria-labelledby="dropdownNavbarLink">
            {% for section_slug, section_title in section_titles.items %}
              <li>
                <a href="?section={{ section_slug }}" class="dropdown-list-item">{{ section_title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  {% endif %}
{% endif %}
